<!DOCTYPE html>
<html>

<head>
    <title>Auth Finalizing...</title>
</head>

<body>
    <script>
        const redirectUri = "{{ redirect_uri|default:''|escapejs }}";
        const payload = {
            status: "{{ status|escapejs }}",
            error_message: "{{ error_message|escapejs }}",
        };
        if (window.opener) {
            window.opener.postMessage(payload, "*");
        }
        if (redirectUri) {
            window.location = redirectUri;
        }
        else {
            window.close();
        }
    </script>
    <p>Finishing authentication, you can close this window...</p>
</body>

</html>