<!DOCTYPE html>
<html>

<head>
    <title>OAuth Finalizing...</title>
</head>

<body>
    <script>
        const redirectUri = "{{ redirect_uri }}";
        const payload = {
            status: "{{ status|escapejs }}",
            error_message: "{{ error_message|escapejs }}",
        };
        console.log("Redirect URI:", redirectUri, window.opener);
        if (window.opener) {
            window.opener.postMessage(payload, "*");
            console.log("Message sent to opener:", payload);
        }

        // window.location = redirectUri;
    </script>
    <p>Finishing authentication, you can close this window...</p>
</body>

</html>